/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
background: #fff;
color: #666666;
font-family: "Open Sans", sans-serif;
}
a {
color: #03C4EB;
transition: 0.5s;
}
a:hover, a:active, a:focus {
color: #03c5ec;
outline: none;
text-decoration: none;
}
p {
padding: 0;
margin: 0 0 30px 0;
}
h1, h2, h3, h4, h5, h6 {
font-family: "Times New Roman", sans-serif;
font-weight: 400;
margin: 0 0 20px 0;
padding: 0;
}
/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#welcome {
display: table;
width: 100%;
height: 100vh;
background-size: cover;
}
#welcome .welcome-container {
background: rgba(0, 0, 0, 0.8);
display: table-cell;
margin: 0;
padding: 0;
text-align: center;
vertical-align: middle;
}
#welcome h1 {
margin: 30px 0 10px 0;
font-weight: 700;
line-height: 48px;
text-transform: uppercase;
color: #fff;
}
#welcome h2 {
color: #999;
margin-bottom: 50px;
}
#welcome .actions a {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
font-weight: 500;
font-size: 16px;
letter-spacing: 1px;
display: inline-block;
padding: 8px 20px;
border-radius: 2px;
transition: 0.5s;
margin: 10px;
}
#welcome .btn-get-started {
background: #03C4EB;
border: 2px solid #03C4EB;
color: #fff;
}
#welcome .btn-get-started:hover {
background: none;
border: 2px solid #fff;
color: #fff;
}
#welcome .btn-services {
border: 2px solid #fff;
color: #fff;
}
#welcome .btn-services:hover {
background: #03C4EB;
border: 2px solid #03C4EB;
}
/*--------------------------------------------------------------
# Catalog
--------------------------------------------------------------*/
.img-fluid{
width: 50%;
height: auto;
padding: 1px 1px;
border: 2px solid #03C4EB;
}
img:hover {
transform: scale(1.5);
filter: grayscale(100%);
}
.colorchange{
	background-color: #03C4EB;
}
.colorchange:hover {
  background-color: #4feb34;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
/*--------------------------------------------------------------
# More Button Page Content
--------------------------------------------------------------*/
#pagecontent{
width: 50%;
}
.btn-more {
background: #03C4EB;
border: 2px solid #03C4EB;
color: #fff;
}
.btn-more:hover {
background: none;
border: 2px solid #fff;
color: #18EB25 ;
}
.actions a {
font-family: "Raleway", sans-serif;
text-transform: uppercase;
font-weight: 500;
font-size: 16px;
letter-spacing: 1px;
display: inline-block;
padding: 8px 20px;
border-radius: 2px;
transition: 0.5s;
margin: 5px;
}

/*--------------------------------------------------------------
# Cart Page
--------------------------------------------------------------*/

.products-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 650px;
	justify-content: space-around;
	margin: 50px;
	padding-bottom: 100px;
}

.test {
	display: flex;
}

.products ion-icon {
	width:  50px;
	font-size: 25px;
	color: blue;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.products-header {
	width: 100%;
	max-width: 650px;
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
}

.price {
	width: 15%;
    display: flex;
    align-items: center;
    margin-right: 30px
}

.quantity {
	width: 30%;
	display: flex;
	align-items: center;
}

.total {
	width: 10%;
	display: flex;
	align-items: center;
}

.product {
	width: 60%;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	display: flex;
}

.products {
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
}

.basketTotalContainer {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px 0;
}

.basketTotalTitle {
	width: 10%;
}

.basketTotal {
	width: 10%;
}

#products {
	width: 50%;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	display: block;
}

#price {
	margin-left: 30px;
	width: 15%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
}

#quantity {
	width: 30%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
	padding-left: 60px;
}

#total {
	width: 10%;
	border-bottom: 1px solid lightgrey;
	display: flex;
	align-items: center;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;